{% load plugin_version %}
{% get_plugin_version as version %}

<footer class="footer bg-dark text-white mt-auto py-3" style="position: fixed; bottom: 0; width: 100%;">
  <div class="container text-center">
    <span>
      Powered by <a href="https://coldfront.io" class="text-white">ColdFront</a> Version 1.1.7 | 
      <a href="https://github.com/ubccr/coldfront" class="text-white">GitHub</a>
    </span>
    <br>
    <span class="small">
      Plugin <a href="{{ version.github_url }}" class="text-info">{{ version.tag }}-{{ version.commit }}</a> {{ version.datetime }} EST
    </span>
  </div>
</footer>
