{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Update Project
{% endblock %}


{% block content %}
<form method="post">
  {% csrf_token %}
  {# Render only title and description fields, excluding field_of_science #}
  {{ form.title|as_crispy_field }}
  {{ form.description|as_crispy_field }}
  <input class="btn btn-primary" type="submit" value="Save" />
  <a class="btn btn-secondary" href="{% url 'project-detail' object.pk %}" role="button">Cancel</a>
</form>
{% endblock %}

